[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
redis = "*"
flask = "*"
flask-restful = "*"
requests = "*"
pytest = "*"
python-dotenv = "*"
pytest-mock = "*"
filelock = "*"

[dev-packages]

[requires]
python_version = "3.8"
